@{
    ViewData["Title"] = "Bloqueado";
}

<BR />
<header>
    <h1 class="text-danger">Conta Bloqueada</h1>
    <p class="text-danger">Esta conta foi bloqueada, tente novamente mais tarde ou entre em contato com nosso Suporte.</p>
</header>
