@{
    ViewData["Title"] = "Confirmação para Resetar Senha";
}

<BR />
<h1>@ViewData["Title"].</h1>
<p>
    Sua senha foi resetada. Favor <a asp-controller="Account" asp-action="Login">clicar aqui para entrar</a>.
</p>
